/Latihan 1_W02/nbproject/private/
/Latihan 1_W02/build/
/Latihan 2_W02/nbproject/private/
/Latihan 2_W02/build/
/Latihan 3_W02/nbproject/private/
/Latihan 4_W02/nbproject/private/
/Latihan 4_W02/build/
/Latihan 3_W02/build/
/Tugas 1_W02/nbproject/private/
/Tugas 1_W02/build/
/Tugas 2_W02/nbproject/private/
/Tugas_W02/nbproject/private/
/Tugas_W02/build/
/Minggu ke 1/HelloWorld/nbproject/private/
/Minggu ke 1/HelloWorld/build/
/Minggu ke 1/Minggu 3/nbproject/private/
/Minggu ke 1/Minggu 3/build/
/Minggu 4/nbproject/private/
/Minggu 4/build/