/Latihan 1_W02/nbproject/private/
/Latihan 1_W02/build/
/Latihan 2_W02/nbproject/private/
/Latihan 2_W02/build/
/Latihan 3_W02/nbproject/private/
/Latihan 4_W02/nbproject/private/
/Latihan 4_W02/build/
/Latihan 3_W02/build/